body {
    font-family: 'helvetica';
    font-size: 16px;
    max-width: 1000px;
    margin: auto;
}
h1 {
    font-size: 24;
    letter-spacing: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
}

h2 {
    font-size: 20px;
    padding-bottom: 1px;
}

h3 {
    font-size: 18px;
    padding-bottom: 1px;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 5px;
}
header {
    text-align: center;
    margin: auto 1px;
}

section {
    margin: auto 10px 10px 30px;
}

i {
    margin-right: 1px;
}

p {
    margin: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft {
    border-right: 1px solid lightgray;
}

li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}